.Results {
  background-color: rgb(218, 218, 218);
  height: 60%;
  border-radius: 0 0 10px 10px;
  overflow-y: scroll;
}

.Result-Headers {
  height: 5%;
}

.Bookmark-Row {
  height: 10%;
}

.Bookmark-Row td {
  text-align: center;
}

.Results-Table {
  overflow-y: scroll;
}

#grid {
  background: grey;
  font-weight: bold;
  font-size: 25px;
}
